{% extends "base.html" %}
{% load account_event %}

{% block content %}
<h1><img src="{{ target_account.gravatar }}" /> {{ target_account.username }}</h1>


<h3>ユーザ情報</h3>
<div id="profile">
  <dl>
{% if target_account == request.account %}
    <dt>Email</dt>
    <dd>{{ target_account.email }}</dd>

    <dt>OpenID URL</dt>
    <dd>{{ target_account.openid_url }}</dd>
{% endif %}
    <dt>URL</dt>
    <dd>{{ target_account.url }}</dd>

    <dt>Twitter ID</dt>
    <dd>{{ target_account.tiwtter_acount }}</dd>

    <dt>メールによる通知</dt>
    <dd>{{ target_account.notify_email }}</dd>


    <dt>イベント管理数</dt>
    <dd>Not Implemented</dd>

    <dt>イベント参加数</dt>
    <dd>Not Implemented</dd>

    <dt>イベントキャンセル数</dt>
    <dd>Not Implemented</dd>
  </dl>

  {% if target_account == request.account %}
  <a href="{% url account:edit %}">ユーザー情報の編集</a>
  {% endif %}
</div>


<h3>管理しているイベント</h3>
<div class="managed_event">
  <dl class="event">
    {% get_managed_events account=target_account as managed_events %}
    {% for event in managed_events %}
    <dt>{{ event.started_at }}</dt>
    <dd><a href="{{ event.get_absolute_url }}">{{ event.name }}</a></dd>
    {% endfor %}
  </dl>
</div>


<h3>参加しているイベント</h3>
<div id="atended_event">
  <dl class="event">
    {% get_attended_events account=target_account as attended_events %}
    {% for event in attended_events %}
    <dt>{{ event.started_at }}</dt>
    <dd><a href="{{ event.get_absolute_url }}">{{ event.name }}</a></dd>
    {% endfor %}
  </dl>
</div>

{% endblock %}
